body {
	margin: 0;
	background-color: #000;
	color: #fff;
	/* font-family: Monospace; */
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}
.init_scene{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #2d2d36;
	transition: opacity 0.5s ease;
}

.init_scene div{
	top: 50%;
	left: 50%;
	font-size: 40px;
	position: absolute;
	cursor: pointer;
	/* text-align: center; */
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.preload{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #2d2d36;
	transition: opacity 0.5s ease;
	z-index: 2;
	font-size: 30px;

}
#loadingAnimation{
	position: absolute;
	width: 100%;
	height: 50vh;
	top: 50%;
	/* height: 100%; */
	z-index: 0;
	font-size: 50px;
	text-align: center;
}
.continue{
	cursor: pointer;
	display: none;
	z-index: 100;
	right: 5%;
	bottom: 5%;
	position: absolute;
}
.continue2{
	transition: display 0.5s ease;

	font-size: 30px;
	cursor: pointer;
	position: absolute;
	right: 5%;
	bottom: 5%;
	opacity: 100;
}

#mute_btn{
	cursor: pointer;
	position: absolute;
	height: auto;
	width: 3%;
	right: 5%;
	top:  5%;
	z-index: 100;
}

.preload-finish{
	opacity: 0;
	pointer-events: none;
}

#preload_text{
	position: absolute;
	text-align: right;
	bottom: 5%;
	right: 5%;
	/* margin-left: 50%; */
	/* align-self: center; */
}

h2{
	text-align: center;
}

.intro{
	/* text-align: justify; */
	position: absolute;
	width: 100%;
	height: 100%;
	background: #2d2d36;
	/* display: none; */
	transition: opacity 0.5s ease;
}

.container{
	/* text-align: center; */
	left: 30%;
	top: 20%;
	position: absolute;
	font-size: 15px;
	width: 50%;
	height: 80%;
}

.page{
	/* position: absolute; */
	line-height: 2.2;
	z-index: -100;
	opacity: 0;
	transition: opacity 0.2s ease;

}
.page h2{
	position: absolute;

}
.page p{
	position: absolute;
	top: 10%;

}
.ready{
	display: block;
	opacity: 100;
	transition: opacity 0.5s ease;
	z-index: 100;
}
.start{
	display: none;
	position: absolute;
	right: 5%;
	bottom: 5%;
	font-size: 30px;
	cursor: pointer;
}
a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}
canvas {
	display: block;
}
#canvas {
	/* display:block; */
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}

#overlay button {
	background: #ffffff;
	border: 0;
	color: #000000;
	padding: 16px 20px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

/* added */
#blocker {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	/* z-index: -100; */
}

#instructions {
	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	line-height: 24px;

	cursor: pointer;
}
#progress{
	transition: opacity 0.5s ease;
}
